<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <script src="https://unpkg.com/vue"></script>
   <!-- <script src="./node_modules/vue/dist/vue.js"></script> -->
   

</head>
<body>
   <div id="app">
    
    <input v-model="newtask">
    <button @click="addTask">ADD</button>

    <ul>
        
        <li v-for="task in tasks">{{ task }}</li>   
    </ul>

   </div> 
 
   <script>
    let app = new Vue({
        el : '#app',
        data: {
            tasks: [
                'first task',
                'second task',
                'third task'
            ]
        },
        methods: {
            addTask() {
                this.tasks.push(this.newtask)
            }
        }
      
    })
</script>
</body>
</html>